body{
  background-color: rgb(220, 214, 214);
}


.nombreEmpresa:link{
  color:rgb(22, 145, 211);
  text-decoration: none;
};


.card{
  border-radius: 10%;
  min-height: 8rem;
}
.card-body{
  background-color: rgb(255, 255, 255);
  border-radius: 10%;
}
.nombreEmpresa:visited{
  color:rgb(22, 145, 211);
  
}
.nombreEmpresa:Hover{
  transform: scale(1,2);
  transition: 1s;
}

.nombreEmpresa:active{
  color:rgb(22, 145, 211);
  
}

 .title{
  font-size: 6rem;
  color: rgb(22, 145, 211);
}

.subTitle{
  font-size: 3rem;
  color: rgb(13, 133, 15);
}

.imageCart{
  display: flex;
  width: 2.5rem;
}

.counterTitle{
  text-align: center;
  font-size: 1.5rem;
  
}
.counter{
  display: flex;
 
  justify-content: center;
}

.counterValue{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 1rem;
  margin-bottom: 00.5rem;
}

.itemCartAdd{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addCart{
  width: 12rem;
  margin-top: 1rem;
}

.cartIco{
  background-color: red;
  width: 0.8rem;
  opacity: 60%;
  color: white;
  border-radius: 30%;
  text-align: center;
}

.irAlCarrito{
  margin: 1rem;
}
.terminarCompra{
  margin: 1rem;
}

.cartIcons{
  display: flex;
  margin: -0.5rem;
  
}