.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.nombreEmpresa:link{
  color:rgb(22, 145, 211);
  text-decoration: none;
};

.nombreEmpresa:visited{
  color:rgb(22, 145, 211);
  
}
.nombreEmpresa:Hover{
  transform: scale(1,2);
  transition: 1s;
}

.nombreEmpresa:active{
  color:rgb(22, 145, 211);
  
}

 .title{
  font-size: 4rem;
  color: rgb(22, 145, 211);
}

.subTitle{
  font-size: 2rem;
  color: rgb(20, 185, 185);
}

.imageCart{
  display: flex;
  width: 2.5rem;
}


.counterTitle{
  text-align: center;
  color: #61dafb;
  text-decoration: solid;


}
.counter{
  display: flex;
  border: 0.5cm, solid, black;
  justify-content: center;
}

.counterValue{
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 0.5rem;
  margin-bottom: 00.5rem;
}

.addRemove{
  width: 3rem;
  height: 3rem;
  background-color: #61dafb;
  text-decoration: solid;
  font-size: 1.5rem;
}

.itemCartAdd{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.addCart{
  width: 12rem;
  margin-top: 1rem;
}

.cartIco{
  background-color: red;
  color: white;
  border-radius: 30%;
}